<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find panther_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://husarion_ugv_description/meshes/panther/base.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://husarion_ugv_description/meshes/panther/base_collision.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <link name="base_footprint"/>
  <joint name="base_link_to_base_footprint" type="fixed">
    <origin xyz="0 0 -${vehicle_info['/**']['ros__parameters']['wheel_radius']}" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_footprint"/>
  </joint>
</robot>
